<strong class="flex justify-content-center text-xl mb-4">{{title}}</strong>
<div #timeline>
    <p-timeline [value]="events" [align]="smallScreen ? 'left' : 'alternate'" [class]="smallScreen ? 'custom-timeline aligned-timeline' : 'custom-timeline'">
        <ng-template #marker let-event>
            <span class="flex w-2rem h-2rem align-items-center justify-content-center text-white border-circle bg-primary">
                <i [class]="icon"></i>
            </span>
        </ng-template>
        <ng-template #content let-event>
            <p-card [header]="event.title">
                <ng-template #subtitle>
                    <div class="font-italic">{{formatDate(event.startDate, event.endDate)}}</div>
                </ng-template>
                <div *ngIf="event.organization"><i class="pi pi-building-columns mr-2"></i>{{event.organization}}</div>
                <div *ngIf="event.country"><i class="pi pi-map-marker mr-2"></i>{{event.city ? event.city + ', ' : ''}}{{event.country.name}}</div>
                <p-divider *ngIf="showDetail[events.indexOf(event)]" />
                <div class="flex flex-column gap-3">
                    <div *ngIf="showDetail[events.indexOf(event)] && event.description">
                        <div class="mb-2 text-sm text-left"><strong>Description</strong></div>
                        <div class="text-sm text-left" style="white-space: pre-line;">{{event.description}}</div>
                    </div>
                    <div *ngIf="showDetail[events.indexOf(event)] && event.link" class="text-sm text-left">
                        <a target="_blank" [href]="event.link">{{event.link}}</a>
                    </div>
                    <div *ngIf="showDetail[events.indexOf(event)] && (event.bokConcepts.length > 0 || event.hardSkills.length > 0)">
                        <div class="mb-2 text-sm text-left"><strong>Knowledge</strong></div>
                        <skill-tags [tags]="((stringToTag(event.bokConcepts.sort(), 'bok')  | async) || []).concat((stringToTag(event.hardSkills.sort(), 'secondary') | async) || [])"></skill-tags>
                    </div>
                    <div *ngIf="showDetail[events.indexOf(event)] && event.softSkills.length > 0">
                        <div class="mb-2 text-sm text-left"><strong>Transversal Skills</strong></div>
                        <skill-tags [tags]="(stringToTag(event.softSkills.sort()) | async) || []"></skill-tags>
                    </div>
                    <a *ngIf="event.description || event.link || event.hardSkills.length > 0 || event.softSkills.length > 0 || event.bokConcepts.length > 0" class="text-sm mt-2" style="cursor: pointer;" 
                        (click)="showDetail[events.indexOf(event)] = !showDetail[events.indexOf(event)]">
                        {{showDetail[events.indexOf(event)] ? 'Collapse' : 'Show Detail'}}
                    </a>
                </div>
            </p-card>
        </ng-template>
    </p-timeline>
</div>