<p-toast class="custom-toast" position="bottom-right"/>
<p-confirmdialog />
<div *ngIf="userPortfolio else spinner" class="flex flex-column xl:flex-row gap-4 m-2">
    <div class="flex flex-column xl:flex-row align-items-center">
        <user-information class="w-full xl:max-w-28rem mb-auto" style="max-width: 35rem;" [userPortfolio]="userPortfolio"></user-information>
        <p-divider layout="vertical" class="hidden xl:flex"/>
        <p-divider class="flex xl:hidden"/>
    </div>
    <div class="flex flex-1 flex-column xl:flex-row my-4 gap-2">
        <div class="flex flex-1 flex-column align-items-center gap-6">
            <experience-timeline *ngIf="experienceItems.length > 0" [events]="experienceItems" title="Experience" icon="pi pi-briefcase" class="w-full"></experience-timeline>
            <experience-timeline *ngIf="projectsItems.length > 0" [events]="projectsItems" [reverse]="reverseProjects" title="Projects" icon="pi pi-wrench" class="w-full"></experience-timeline>
            <experience-timeline *ngIf="educationItems.length > 0" [events]="educationItems" [reverse]="reverseEducation" title="Education" icon="pi pi-graduation-cap" class="w-full"></experience-timeline>
        </div>
        <div class="flex flex-wrap xl:flex-column justify-content-center xl:justify-content-start xl:align-items-center gap-2 px-4 mr-2 pt-4 xl:pt-0">
            <p-button class="custom-button" size="small" icon="pi pi-pencil" label="Edit" (onClick)="editPortfolio()"></p-button>
            <p-button class="custom-button" size="small" icon="pi pi-share-alt" label="Share" (onClick)="copyPortfolioUrl()" [tooltipOptions]="{disabled: userPortfolio.isPublic}"
                pTooltip="This option is not available for private portfolios" tooltipPosition="left" [disabled]="!userPortfolio.isPublic"></p-button>
            <p-button class="custom-button" size="small" icon="pi pi-download" label="Download" (onClick)="op.toggle($event)"></p-button>
            <p-button class="delete-button" size="small" icon="pi pi-trash" label="Delete" (onClick)="deleteModal($event)"></p-button>
            <p-popover #op>
                <div style="color: var(--primary-color)">
                    <span class="font-medium block mb-2"><strong>Choose Format</strong></span>
                    <ul class="p-0 m-0 flex flex-column">
                        <li class="flex items-center gap-2 px-2 py-2 cursor-pointer popover-element" (click)="downloadPortfolioPdf()">
                            <span class="font-medium">PDF</span>
                        </li>
                        <li class="flex items-center gap-2 px-2 py-2 cursor-pointer popover-element" (click)="downloadPortfolioJson()">
                            <span class="font-medium">JSON</span>
                        </li>
                        <li class="flex items-center gap-2 px-2 py-2 cursor-pointer popover-element" (click)="downloadPortfolioRdf('rdfa')">
                            <span class="font-medium">RDFa</span>
                        </li>
                        <li class="flex items-center gap-2 px-2 py-2 cursor-pointer popover-element" (click)="downloadPortfolioRdf('xml')">
                            <span class="font-medium">RDF/XML</span>
                        </li>
                        <li class="flex items-center gap-2 px-2 py-2 cursor-pointer popover-element" (click)="downloadPortfolioRdf('ttl')">
                            <span class="font-medium">Turtle</span>
                        </li>
                    </ul>
                </div>
            </p-popover>
        </div>
    </div>
</div>

<ng-template #spinner>
    <div *ngIf="loading" class="flex justify-content-center align-items-center" style="min-height: 60vh;">
        <p-progress-spinner ariaLabel="loading" />
    </div>
</ng-template>