<div class="flex flex-column xl:flex-row gap-4 m-2">
    <div class="flex flex-column xl:flex-row align-items-center">
        <user-information class="w-full xl:max-w-28rem mb-auto" style="max-width: 35rem;" [userPortfolio]="userPlaceholder"></user-information>
        <p-divider layout="vertical" class="hidden xl:flex"/>
        <p-divider class="flex xl:hidden"/>
    </div>
    <div class="flex flex-1 flex-column xl:flex-row my-4 gap-2">
        <div class="flex flex-1 flex-column align-items-center gap-6">
            <experience-timeline [events]="getExperienceTimeline(userPlaceholder.workExperience)" title="Experience" class="w-full"></experience-timeline>
            <experience-timeline [events]="getProjectTimeline(userPlaceholder.projects)" title="Projects" class="w-full"></experience-timeline>
            <experience-timeline [events]="getEducationTimeline(userPlaceholder.educationAndTraining, userPlaceholder.certifications)" title="Education" class="w-full"></experience-timeline>
        </div>
        <div class="flex xl:flex-column justify-content-center xl:justify-content-start xl:align-items-center gap-2 px-4 mr-2">
            <p-button class="custom-button" size="small" icon="pi pi-file" label="Document"></p-button>
            <p-button class="custom-button" size="small" icon="pi pi-pencil" label="Edit"></p-button>
            <p-button class="custom-button" size="small" icon="pi pi-share-alt" label="Share"></p-button>
        </div>
    </div>
</div>