:host ::ng-deep .custom-button button {
  flex: 1 1 0;
  min-width: 8rem;
}

:host ::ng-deep .delete-button button {
  flex: 1 1 0;
  min-width: 8rem;
}

::ng-deep .p-confirmdialog   {
    color: var(--primary-color) !important;
}

::ng-deep .p-confirmdialog .p-confirmdialog-icon   {
    color: var(--primary-color) !important;
}

::ng-deep .p-confirmdialog .p-button {
    --p-button-primary-background: var(--danger-color);
    --p-button-primary-border-color: var(--danger-color);
    --p-button-primary-hover-background: color-mix(in srgb, var(--danger-color) 90%, black 10%);
    --p-button-primary-hover-border-color: color-mix(in srgb, var(--danger-color) 90%, black 10%);
    --p-button-primary-active-background: color-mix(in srgb, var(--danger-color) 70%, black 30%);
    --p-button-primary-active-border-color: color-mix(in srgb, var(--danger-color) 80%, black 20%);
}