<p-toast class="custom-toast" position="bottom-right"/>
<div *ngIf="userPortfolio else spinner" class="flex flex-column xl:flex-row gap-4 m-2">
    <div class="flex flex-column xl:flex-row align-items-center">
        <user-information class="w-full xl:max-w-28rem mb-auto" style="max-width: 35rem;" [userPortfolio]="userPortfolio"></user-information>
        <p-divider layout="vertical" class="hidden xl:flex"/>
        <p-divider class="flex xl:hidden"/>
    </div>
    <div class="flex flex-1 flex-column xl:flex-row my-4 gap-2">
        <div class="flex flex-1 flex-column align-items-center gap-6">
            <experience-timeline *ngIf="userPortfolio.workExperience.length > 0" [events]="userPortfolio.workExperience" title="Experience" icon="pi pi-briefcase" class="w-full"></experience-timeline>
            <experience-timeline *ngIf="userPortfolio.projects.length > 0" [events]="userPortfolio.projects" title="Projects" icon="pi pi-wrench" class="w-full"></experience-timeline>
            <experience-timeline *ngIf="userPortfolio.educationAndTraining.length > 0" [events]="userPortfolio.educationAndTraining" title="Education" icon="pi pi-graduation-cap" class="w-full"></experience-timeline>
        </div>
        <div class="flex flex-wrap xl:flex-column justify-content-center xl:justify-content-start xl:align-items-center gap-2 px-4 mr-2 pt-4 xl:pt-0">
            <p-button class="custom-button" size="small" icon="pi pi-file" label="Document" [disabled]="true"></p-button>
            <p-button class="custom-button" size="small" icon="pi pi-pencil" label="Edit" (onClick)="editPortfolio()"></p-button>
            <p-button class="custom-button" size="small" icon="pi pi-share-alt" label="Share" [disabled]="true"></p-button>
            <p-button class="delete-button" size="small" icon="pi pi-trash" label="Delete" (onClick)="deletePortfolio()"></p-button>
        </div>
    </div>
</div>

<ng-template #spinner>
    <div *ngIf="loading" class="flex justify-content-center align-items-center" style="min-height: 60vh;">
        <p-progress-spinner ariaLabel="loading" />
    </div>
</ng-template>