<div class="flex flex-column gap-3">
    <div>
        <p-floatlabel variant="on" class="custom-floatlabel">
            <p-iconfield>
                <input pInputText [id]="index + 'Title'" autocomplete="off" class="w-full custom-input"
                    [class.ng-invalid]="errorMap.get(index + 'Title') != undefined" [class.ng-dirty]="errorMap.get(index + 'Title') != undefined" 
                    [(ngModel)]="portfolioItem.title" pTooltip="The name of the degree, job title, role, or project" 
                    tooltipPosition="right" showDelay="200" hideDelay="200" maxlength="200"/>
                <p-inputicon class="pi pi-user" [style]="errorMap.get(index + 'Title') != undefined ? 'color: var(--danger-color)' : ''"/>
            </p-iconfield>
            <label [for]="index + 'Title'">Title *</label>
        </p-floatlabel>
        <p *ngIf="errorMap.get(index + 'Title')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get(index + 'Title')}}</p>
    </div>

    <div>
        <p-floatlabel variant="on" class="custom-floatlabel">
            <p-iconfield>
                <input pInputText [id]="index + 'Org'" autocomplete="off" class="w-full custom-input" 
                    [class.ng-invalid]="errorMap.get(index + 'Org') != undefined" [class.ng-dirty]="errorMap.get(index + 'Org') != undefined"
                    [(ngModel)]="portfolioItem.organization" pTooltip="The company, school, or group behind the experience" 
                    tooltipPosition="right" showDelay="200" hideDelay="200" maxlength="200"/>
                <p-inputicon class="pi pi-graduation-cap" [style]="errorMap.get(index + 'Org') != undefined ? 'color: var(--danger-color)' : ''"/>
            </p-iconfield>
            <label [for]="index + 'Org'">Institution *</label>
        </p-floatlabel>
        <p *ngIf="errorMap.get(index + 'Org')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get(index + 'Org')}}</p>
    </div>

    <div>
        <p-floatlabel variant="on" class="w-full custom-floatlabel">
            <p-datepicker [inputId]="index + 'startDate'" showIcon iconDisplay="input" dateFormat="dd/mm/yy" 
                [(ngModel)]="portfolioItem.startDate" fluid class="custom-input custom-datepicker"
                [class.ng-invalid]="errorMap.get(index + 'startDate') != undefined" [class.ng-dirty]="errorMap.get(index + 'startDate') != undefined"
                [class.custom-datepicker-icon-error]="errorMap.get(index + 'startDate') != undefined"
                pTooltip="The starting date of this activity or experience" 
                tooltipPosition="right" showDelay="200" hideDelay="200"/>
            <label [for]="index + 'startDate'">Start Date *</label>
        </p-floatlabel>
        <p *ngIf="errorMap.get(index + 'startDate')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get(index + 'startDate')}}</p>
    </div>

    <div>
        <p-floatlabel variant="on" class="w-full custom-floatlabel">
            <p-datepicker [inputId]="index + 'endDate'" showIcon iconDisplay="input" dateFormat="dd/mm/yy" 
                [(ngModel)]="portfolioItem.endDate" fluid class="custom-input custom-datepicker"
                [class.ng-invalid]="errorMap.get(index + 'endDate') != undefined" [class.ng-dirty]="errorMap.get(index + 'endDate') != undefined"
                [class.custom-datepicker-icon-error]="errorMap.get(index + 'endDate') != undefined"
                pTooltip="The ending date. Leave blank if it's ongoing"
                tooltipPosition="right" showDelay="200" hideDelay="200"/>
            <label [for]="index + 'endDate'">End Date</label>
        </p-floatlabel>
        <p *ngIf="errorMap.get(index + 'endDate')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get(index + 'endDate')}}</p>
    </div>


    <p-floatlabel variant="on" class="custom-floatlabel">
        <textarea [id]="index + 'Description'" pTextarea [(ngModel)]="portfolioItem.description"
                rows="4" class="w-full custom-textarea" 
                pTooltip="A brief summary of the experience, project, or study program" 
                tooltipPosition="right" showDelay="200" hideDelay="200" maxlength="2000"></textarea>
        <div class="textarea-length">
            <span>{{portfolioItem.description!.length + ' '}}</span>
            <span>/ 2000</span>
        </div>
        <label [for]="index + 'Description'">Description</label>
    </p-floatlabel>

    <div>
        <p-floatlabel variant="on" class="custom-floatlabel">
            <p-select [inputId]="index + 'Country'" [options]="countryList" optionLabel="name" [(ngModel)]="portfolioItem.country" class="w-full custom-select" filter
                [checkmark]="true" tooltipPosition="right" showDelay="200" hideDelay="200" pTooltip="The country where the experience or program occurred" showClear
                (ngModelChange)="updateCityList(portfolioItem.country!)" [virtualScroll]="true" [virtualScrollItemSize]="40" [loading]="loadingCountries" [disabled]="loadingCountries"/>
            <label [for]="index + 'Country'">Country</label>
        </p-floatlabel>
    </div>

    <div>
        <p-floatlabel variant="on" class="custom-floatlabel">
            <p-select [inputId]="index + 'City'" [options]="cityList" [(ngModel)]="portfolioItem.city" class="w-full custom-select" filter showClear
                [checkmark]="true" tooltipPosition="right" showDelay="200" hideDelay="200" pTooltip="The city where the experience or program took place" [disabled]="cityList.length == 0"
                [loading]="loadingCities" [virtualScroll]="true" [virtualScrollItemSize]="40"/>
            <label [for]="index + 'City'">City</label>
        </p-floatlabel>
    </div>

    <div>
        <p-floatlabel variant="on" class="custom-floatlabel">
            <p-iconfield>
                <input pInputText [id]="index + 'Link'" autocomplete="off" class="w-full custom-input"
                    [class.ng-invalid]="errorMap.get(index + 'Link') != undefined" [class.ng-dirty]="errorMap.get(index + 'Link') != undefined" 
                    [(ngModel)]="portfolioItem.link" pTooltip="A URL relevant to this item, such as a link to the institution’s website or another related resource" 
                    tooltipPosition="right" showDelay="200" hideDelay="200" maxlength="200"/>
                <p-inputicon class="pi pi-link" [style]="errorMap.get(index + 'Link') != undefined ? 'color: var(--danger-color)' : ''"/>
            </p-iconfield>
            <label [for]="index + 'Link'">URL</label>
        </p-floatlabel>
        <p *ngIf="errorMap.get(index + 'Link')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get(index + 'Link')}}</p>
    </div>

    <treeselect-chips [(chips)]="portfolioItem.softSkills" [treeselectOptions]="transversalSkills"
                fieldName="Transversal Skills" pTooltip="Personal or professional skills developed" 
                tooltipPosition="right" showDelay="200" hideDelay="200"></treeselect-chips>

    <div class="flex flex-column">
        <div class="custom-border p-2" style="color: #64748b;" pTooltip="List of knowledge from the GeoSpace Body of Knowledge gained or used" 
            tooltipPosition="right" showDelay="200" hideDelay="200">
            <bokModal [(selectedConcepts)]="portfolioItem.bokConcepts" [label]="'Knowledge'"></bokModal>
        </div>
        <p-button *ngIf="!showCustomKnowledge" [rounded]="true" [text]="true" size="small" (onClick)="showCustomKnowledge = true"
            class="text-button ml-auto mt-1 p-0 text-xs font-italic">Add custom knowledge</p-button>
    </div>
    
    <text-chips [fieldName]="'Custom Knowledge'" [icon]="'pi pi-chart-bar'" [(chips)]="portfolioItem.hardSkills!"
                pTooltip="Custom knowledge gained or used" *ngIf="showCustomKnowledge"
                tooltipPosition="right" showDelay="200" hideDelay="200"></text-chips>
</div>