<p-toast class="custom-toast" position="bottom-right"/>
<h1 class="flex justify-content-center mt-5 fadeinup animation-duration-800">Your Skills, Your Story</h1>
<div #timeline class="my-5 custom-margin lg:mx-6">
    <p-timeline [value]="timelineContent" [align]="smallScreen ? 'left' : 'alternate'" [class]="smallScreen ? 'custom-timeline aligned-timeline' : 'custom-timeline'">
        <ng-template #marker let-event>
            <span class="flex w-2rem h-2rem align-items-center justify-content-center text-white border-circle bg-primary">
                <i class="pi pi-lightbulb"></i>
            </span>
        </ng-template>
        <ng-template #content let-event>
            <p-card [header]="event.title" [subheader]="event.subtitle" class="block fadein animation-duration-800">
                <div *ngFor="let description of event.description" class="text-sm mb-2">{{description}}</div>
            </p-card>
        </ng-template>
        <ng-template #opposite let-event>
            <skill-tags [class]="event != timelineContent[1] ? 'block my-4 fadeinleft animation-duration-800' : 'block my-4 fadeinright animation-duration-800'" [tags]="event.skills" direction="center"></skill-tags>
        </ng-template>
    </p-timeline>
</div>
<p-button class="custom-button flex justify-content-center mb-5 fadeindown animation-duration-800" label="My Portfolio"
    [disabled]="!(isLogged | async)" icon="pi pi-bookmark" (onClick)="goToPortfolio()"></p-button>