.custom-timeline {
    --p-card-color: var(--primary-color);
    --p-card-subtitle-color: var(--primary-color);
}

::ng-deep .aligned-timeline .p-timeline-event-content {
    padding-bottom: 1rem !important;
}

::ng-deep .aligned-timeline .p-timeline-event-opposite {
    display: none !important;
}

a {
    color: var(--secondary-color);
}

a:hover {
    color: var(--hover-color);
}

::ng-deep .p-card {
  border: 1px solid #e2e8f0 !important;
}