.custom-timeline {
    --p-card-color: var(--primary-color);
    --p-card-subtitle-color: var(--primary-color);
}

::ng-deep .custom-timeline .p-timeline-event-opposite {
    margin-top: auto;
    margin-bottom: auto;
}

::ng-deep .aligned-timeline .p-timeline-event-content {
    padding-bottom: 1rem !important;
}

::ng-deep .aligned-timeline .p-timeline-event-opposite {
    display: none !important;
}

a {
    color: var(--secondary-color);
}

a:hover {
    color: var(--hover-color);
}

::ng-deep .p-card {
  border: 1px solid #e2e8f0 !important;
}

.custom-margin {
    margin-left: 18rem !important; 
    margin-right: 18rem !important;
}

@media screen and (max-width: 1850px) {
  .custom-margin {
    margin-left: 12rem !important; 
    margin-right: 12rem !important;
  }
}

@media screen and (max-width: 1450px) {
  .custom-margin {
    margin-left: 6rem !important; 
    margin-right: 6rem !important;
  }
}

@media screen and (max-width: 768px) {
  .custom-margin {
    margin-left: 2rem !important; 
    margin-right: 2rem !important;
  }
}

.custom-toast {
    --p-toast-info-background: color-mix(in srgb, var(--secondary-color) 10%, rgba(255, 255, 255, 0.9) 90%);
    --p-toast-info-border-color: var(--secondary-color);
    --p-toast-info-color: var(--secondary-color);
    --p-toast-info-detail-color: var(--primary-color);

    --p-toast-error-background: color-mix(in srgb, var(--danger-color) 10%, rgba(255, 255, 255, 0.9) 90%);
    --p-toast-error-border-color: var(--danger-color);
    --p-toast-error-color: var(--danger-color);
    --p-toast-error-detail-color: var(--primary-color);

    --p-toast-warn-background: color-mix(in srgb, var(--warning-color) 10%, rgba(255, 255, 255, 0.9) 90%);
    --p-toast-warn-border-color: var(--warning-color);
    --p-toast-warn-color: var(--warning-color);
    --p-toast-warn-detail-color: var(--primary-color);
}

::ng-deep .p-toast-close-button .p-button-label {
    font-size: 0;
} 