<p-dialog header="Release Notes" [modal]="true" [(visible)]="visible" (onHide)="visibleChange.emit(false)" [style]="{ width: '50rem', color: 'var(--primary-color)' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <h2>v1.10 - February 2026</h2>
    <ul>
        <li>Add user manual.</li>
    </ul>
    <h2>v1.00 - January 2026</h2>
    <ul>
        <li>Initial public release.</li>
        <li>Supports creation and editing of portfolios annotated with Space Body of Knowledge (BoK) concepts.</li>
        <li>Enables export to PDF and RDF formats (TTL, RDFa, XML/RDF).</li>
        <li>Provides web-based sharing for portfolios.</li>
    </ul>
</p-dialog>
