::ng-deep .p-tooltip {
    --p-tooltip-background: var(--primary-color);
    --p-tooltip-color: white;
}

.custom-textarea:hover,
.custom-textarea:focus {
    border-color: var(--hover-color) !important;
}

.textarea-length {
    position: absolute;
    bottom: 0.5rem;
    right: 0.75rem;
    font-size: 0.75rem;
    color: #64748b;
    pointer-events: none;
}

.invalid-floatlabel {
    --p-floatlabel-color: var(--danger-color);
    --p-floatlabel-active-color: var(--danger-color);
}

.custom-datepicker {
    --p-datepicker-select-month-color: var(--primary-color);
    --p-datepicker-select-year-color: var(--primary-color);
    --p-datepicker-week-day-color: var(--primary-color);
    --p-datepicker-date-color: var(--primary-color);

    --p-button-text-primary-color: var(--secondary-color);
    --p-button-text-primary-active-background: color-mix(in srgb, var(--secondary-color) 20%, rgba(0, 0, 0, 0) 80%);
    --p-button-text-primary-hover-background: color-mix(in srgb, var(--secondary-color) 10%, rgba(0, 0, 0, 0) 90%);
    --p-datepicker-date-selected-background: var(--secondary-color);
}

.custom-datepicker-icon-error {
    --p-datepicker-input-icon-color: var(--danger-color); 
}

.custom-stepper {
    --p-stepper-step-number-active-color: var(--hover-color);
    --p-stepper-step-title-active-color: var(--hover-color);
    --p-stepper-separator-active-background: var(--hover-color);
    width: 50vw;
}

@media (max-width: 992px) {
    .custom-stepper {
        width: 100%;
    }
}

.custom-acordion {
    --p-accordion-header-color: color-mix(in srgb, var(--primary-color) 60%, rgba(255, 255, 255, 0) 40%);
    --p-accordion-header-hover-color: var(--hover-color);
    --p-accordion-header-active-color: var(--primary-color);
    --p-accordion-header-active-hover-color: var(--hover-color);
    --p-accordion-content-color: var(--primary-color);
}

::ng-deep .p-confirmdialog   {
    color: var(--primary-color) !important;
}

::ng-deep .p-confirmdialog .p-confirmdialog-icon   {
    color: var(--primary-color) !important;
}

::ng-deep .p-confirmdialog .p-button {
    --p-button-primary-background: var(--danger-color);
    --p-button-primary-border-color: var(--danger-color);
    --p-button-primary-hover-background: color-mix(in srgb, var(--danger-color) 90%, black 10%);
    --p-button-primary-hover-border-color: color-mix(in srgb, var(--danger-color) 90%, black 10%);
    --p-button-primary-active-background: color-mix(in srgb, var(--danger-color) 70%, black 30%);
    --p-button-primary-active-border-color: color-mix(in srgb, var(--danger-color) 80%, black 20%);
}

.text-button {
    --p-button-text-primary-color: var(--secondary-color);
    --p-button-text-primary-active-background: color-mix(in srgb, var(--secondary-color) 20%, rgba(0, 0, 0, 0) 80%);
    --p-button-text-primary-hover-background: color-mix(in srgb, var(--secondary-color) 10%, rgba(0, 0, 0, 0) 90%);
    --p-datepicker-date-selected-background: var(--secondary-color);
}