<p-dialog header="Upload Europass CV" [modal]="true" [(visible)]="visible" (onHide)="visibleChange.emit(false)" 
            [style]="{ width: '30rem', color: 'var(--primary-color)' }" [draggable]="false">
    <div class="flex flex-column flex-1 gap-3">
        <div>
            <p class="text-sm m-0 p-0">
                Upload your Europass CV in PDF format to automatically fill in your information. 
            </p>
            <p class="text-sm m-0 p-0" [style.color]="'var(--hover-color)'">
                If you prefer, you can close this window and complete the form manually.
            </p>
        </div>
        <div class="flex align-items-center">
            <p-fileupload #fileUpload mode="basic" chooseLabel="Upload CV" chooseIcon="pi pi-upload"
                        accept="application/pdf" (onSelect)="onFileSelected($event)" (onClear)="onClear()"
                        styleClass="justify-content-start custom-button"></p-fileupload>
            <p-button class="text-button" text icon="pi pi-times" rounded *ngIf="progress === 100" (onClick)="fileUpload.clear()"></p-button>
        </div>
        <div *ngIf="showProgressBar">
            <p-progressbar [value]="progress" class="custom-progress-bar"/>
        </div>
        <div *ngIf="!showProgressBar && progress == 100 && !hasExtractedData()" class="flex flex-column">
            <p class="text-sm m-0 p-0" [style.color]="'var(--danger-color)'">
                The uploaded CV format is invalid for data extraction.
            </p>
        </div>
    </div>
</p-dialog>
