<p-toast class="custom-toast" position="bottom-right"/>
<div class="flex flex-column align-items-center px-6 my-4">
    <div class="border-circle boder-1 border-solid w-12rem h-12rem mb-4 border-primary flex justify-content-center align-items-center overflow-hidden">
        <img [src]="userPortfolio?.image != '' ? userPortfolio?.image : 'assets/images/avatar_image.png'" class="w-full">
    </div>
    <strong class="text-xl">{{userPortfolio?.fullName}}</strong>
    <div class="text-sm text-center">{{userPortfolio?.shortDescription}}</div>
    <div class="flex flew-wrap gap-2 mt-2 mb-3">
        <p-button icon="pi pi-envelope" [rounded]="true" [text]="true" class="contact-button" [disabled]="!userPortfolio?.email"
            (click)="copyToClipboard(userPortfolio?.email!, 'contact email')" pTooltip="{{userPortfolio?.email}}" tooltipPosition="bottom"></p-button>
        <p-button icon="pi pi-phone" [rounded]="true" [text]="true" class="contact-button" [disabled]="!userPortfolio?.phone"
            (click)="copyToClipboard(userPortfolio?.phone!, 'phone number')" pTooltip="+{{userPortfolio?.phone}}" tooltipPosition="bottom"></p-button>
    </div>
    <strong>About me</strong>
    <div class="text-sm text-justify mt-2 mb-3">{{userPortfolio?.profileSummary}}</div>
    <strong>BoK Concepts</strong>
    <skill-tags class="mt-2 mb-3 w-full" style="padding-top: 0.2rem;" [tags]="bokConcepts"></skill-tags>
    <strong>Hard Skills</strong>
    <skill-tags class="mt-2 mb-3 w-full" style="padding-top: 0.2rem;" [tags]="hardSkills"></skill-tags>
    <strong>Soft Skills</strong>
    <skill-tags class="mt-2 mb-3 w-full" style="padding-top: 0.2rem;" [tags]="softSkills"></skill-tags>
    <strong>Languages</strong>
    <skill-tags class="mt-2 mb-3 w-full" style="padding-top: 0.2rem;" [tags]="languages"></skill-tags>
</div>