.contact-button {
    --p-button-text-primary-color: var(--secondary-color);
    --p-button-text-primary-hover-background: color-mix(in srgb, var(--secondary-color) 10%, rgba(255, 255, 255, 0) 90%);
    --p-button-text-primary-active-background: color-mix(in srgb, var(--secondary-color) 20%, rgba(255, 255, 255, 0) 80%);
}

.padlock-button {
    --p-button-text-primary-color: var(--primary-color);
    --p-button-text-primary-hover-background: color-mix(in srgb, var(--primary-color) 10%, rgba(255, 255, 255, 0) 90%);
    --p-button-text-primary-active-background: color-mix(in srgb, var(--primary-color) 20%, rgba(255, 255, 255, 0) 80%);
    pointer-events: none;
}

::ng-deep .p-tooltip {
    --p-tooltip-background: var(--primary-color);
    --p-tooltip-max-width: 20rem;
}

.image-container {
    position: relative;
    overflow: hidden;
    max-height: 12rem;
    height: 12rem;
    max-width: 12rem;
    max-width: 12rem;
}

.image-container-boder {
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: var(--primary-color);
}

.image-container img {
    min-width: 12rem;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
    opacity: 1;
}