::ng-deep .custom-treeselect {
    --p-treeselect-focus-border-color: var(--hover-color);
    --p-treeselect-hover-border-color: var(--hover-color);

    --p-checkbox-checked-background: var(--secondary-color);
    --p-checkbox-checked-border-color: var(--secondary-color);
    --p-checkbox-checked-hover-background: var(--hover-color);
    --p-checkbox-checked-hover-border-color: var(--hover-color);
    --p-checkbox-checked-focus-border-color: var(--secondary-color);  
    --p-checkbox-focus-ring-color: var(--secondary-color);

    --p-inputtext-focus-border-color: var(--hover-color);
    --p-inputtext-hover-border-color: var(--hover-color);
}

.invalid-treeselect {
    --p-treeselect-border-color: var(--danger-color);
    --p-treeselect-dropdown-color: var(--danger-color);
}

.custom-chip {
    --p-chip-color: var(--primary-color);
    --p-chip-remove-icon-color:var(--primary-color);
    --p-chip-remove-icon-focus-ring-color: var(--primary-color);
}

.chip-animation {
    animation: bounce-scale 0.8s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
    will-change: transform;
    backface-visibility: hidden;
    --p-chip-color: var(--danger-color) !important;
    --p-chip-remove-icon-color:var(--danger-color) !important;
    --p-chip-remove-icon-focus-ring-color: var(--danger-color) !important;
}

@keyframes bounce-scale {
    10% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    95% {
        transform: scale(1);
    }
}